.nav {
  width: 100%;
  padding: 0.5rem 0;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Horizon', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList a {
  color: var(--text-secondary);
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navList a:hover {
  color: var(--text-primary);
}
