.section {
  width: 100%;
  padding: calc(var(--grid-gap)) 0;
  overflow: auto;
  /*box-shadow: var(--grid-gap) 0px 0px 0px var(--black);
  margin-bottom: var(--grid-gap);*/
}

.noPaddingBottom {
  padding-bottom: 0;

}

.lightText, .lightText a {
  color: var(--text-contrast);
}
