
@font-face {
  font-family: 'Horizon';
  src: url('assets/horizon-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.app {
  min-height: 100vh;
  background: var(--bg-primary);
  font-size: 1.25rem;
}


h1 {
  font-family: 'Horizon', sans-serif;
  font-size: calc(8rem / 1.5);
  line-height: calc(8rem / 1.5);
  letter-spacing: -6%;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

h6 {
	font-weight: thin;
	font-size: 0.5rem;
}

a, a:visited, a:active {
	color: var(--magenta);
	text-decoration: underline;
}


ul {
	list-style-position: outside;
	/*list-style-type: "\2731 ";*/
	list-style-type: "-";
	padding-left: calc(var(--grid-gap)/2);
}

ul > li {
	padding-left: calc(var(--grid-gap)/2);
}


